name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    env:
      COREDUMPY_DUMP_DIR: ${{ github.workspace }}/coredumpy_data
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: pip install -r requirements-dev.txt
    - name: Build
      run: python -m build
    - name: Install on Unix
      if: matrix.os != 'windows-latest'
      run: pip install dist/*.whl
    - name: Install on Windows
      if: matrix.os == 'windows-latest'
      run: pip install (Get-ChildItem dist/*.whl)
    - name: Test
      run: python -m unittest
    - name: Generate Coverage Report
      run: |
        coverage run --source coredumpy --parallel-mode -m unittest
        coverage combine
        coverage xml -i
      env:
        COVERAGE_RUN: True
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: gaogaotiantian/coredumpy
        file: ./coverage.xml
    - name: Upload coredumpy data if applicable
      uses: gaogaotiantian/upload-coredumpy@v0.2
      if: failure()
      with:
        name: coredumpy_data_${{ matrix.os }}_${{ matrix.python-version }}
        path: ${{ env.COREDUMPY_DUMP_DIR }}
        retention-days: 7
